.header {
    width: 100%;
    z-index: 100;
    transition: all 0.4s ease;
    top: 0px;
    position: fixed;

    .logo-btn{
        padding:0;
    }

    .logo{
        height:50px;
        width: auto;   
        margin-right: 20px;
             
        &.logo-normal{
            display: none;
        }
    }

    &.sticky{
        background: white;
        box-shadow: 0 4px 8px 0 rgba(13, 10, 44, 0.04);  

        .logo{
            &.logo-normal{
                display: block;
            }
            &.logo-white{
                display: none;
            }
        }
    }

    .header-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 70px;
    
        nav{
            align-items: center;
            display: flex;
        }
        @media #{$max-md} {
            > .btn-login{
                display: none;
            }
        }

        .menu-links{
            display: flex;
    
            li{
                margin-right: 15px;
                font-weight: 500;
    
                a{
                    color: black;
    
                    &:hover{
                        color: $primary;
                        text-decoration: none;
                    }
                }
            }
    
            @media #{$max-md} {
                display: none;
            }
        }

    }
}